h1 {
  font-size: 3rem;
}

ol {
  list-style: none;
}

ol li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.main {
  max-width: 800px;
  margin: auto;
  font-size: 1.5rem;
}

input {
  height: 1.75rem;
  width: 20rem;
}

button[type="submit"] {
  margin-left: 0.5rem;
  height: 2rem;
  width: 20rem;
}
